/* static/css/styles.css */
body {
    display: flex;
}
.sidebar {
    width: 250px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fafafa;
    transition: transform 0.3s ease;
    box-shadow: 20px 0 20px -5px rgb(199, 199, 199);
}



body[data-theme="dark"] .sidebar {
    background-color: #1b1b1b;
    box-shadow: 20px 0 20px -5px rgb(41, 41, 41);
    color:#dfdfdf;
    
}

.sidebar.hidden {
    transform: translateX(-100%);
}
.sidebar.visible {
    transform: translateX(0);
}
.content {
    margin-left: 250px;
    /* padding: 20px; */
    width: calc(100% - 250px);
    transition: margin-left 0.3s ease, width 0.3s ease;
    
}
.content.expanded {
    margin-left: 0;
    width: 100%;
}
.toggle-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1050;
    border-width: 2px;
    
}

.no-trans {
    transition: 0s !important;
    transition-duration:0s !important;
}

.nav-item-contain {
    border-radius: 8px;
    border: 2px;
}

.nav-item-contain :hover{
    border-radius: 8px;
    border: 2px;
    background-color: #dddddd;
}

body[data-theme="dark"] .nav-item-contain :hover{
    border-radius: 8px;
    border: 2px;
    background-color: #383838;
}

.headContainer{
    
    margin: 5px;
    padding: 15px;
    border-left: 7px solid rgb(66, 66, 66);
}

body[data-theme="dark"] .headContainer{
    
    margin: 5px;
    padding: 15px;
    border-left: 7px solid #dfdfdf;
}

.sidebarList{
    color:rgb(58, 58, 58) !important;
    font-weight: 600;
}

body[data-theme="dark"] .sidebarList{
    color:#dfdfdf !important;
    font-weight: 600;
}

.contextContainer{
    margin: 5px;
    padding: 5px;
}

.h1{
    font-weight: 600;
    font-size: 40px;
}

/* 对话窗口 */

.chat-container{
   
    max-width: 700px; 
    margin-left: auto;
    margin-right: auto;
}


.messages {
    height: 80%;
    min-height: 80% !important;
    
    /* margin-bottom: 20px; */
    /* border: 1px solid #ddd; */
    padding: 10px;
    /* border-radius: 5px; */
    /* background-color: white; */
}

.button-container{
    display: flex;
    border: 3px;
    padding: 10px;
    border-radius: 25px;
    background-color: #ececec;

}

.chat-input{
    background-color: #ececec;
    border: none;
    outline: none;
}


/* 手机端适配 */

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        transform: translateX(-100%);
    }
    .sidebar.visible {
        transform: translateX(0);
    }
    .content {
        margin-left: 0;
        width: 100%;
    }
    
}

@media (max-height: 600px) {
    .too-short-hide{
        display: none;
    }
}
