{% extends "chatIndex.html" %}

{% load static %}


{% block content %}


<link rel="stylesheet" href="{% static 'css/daylight-button.css' %}">
<div class="container " style="font-size: 0.65px">
    <div class="components small">
      <div class="main-button">
        <div class="moon"></div>
        <div class="moon"></div>
        <div class="moon"></div>
      </div>
      <div class="daytime-backgrond"></div>
      <div class="daytime-backgrond"></div>
      <div class="daytime-backgrond"></div>
      <div class="cloud">
        <div class="cloud-son"></div>
        <div class="cloud-son"></div>
        <div class="cloud-son"></div>
        <div class="cloud-son"></div>
        <div class="cloud-son"></div>
        <div class="cloud-son"></div>
      </div>
      <div class="cloud-light">
        <div class="cloud-son"></div>
        <div class="cloud-son"></div>
        <div class="cloud-son"></div>
        <div class="cloud-son"></div>
        <div class="cloud-son"></div>
        <div class="cloud-son"></div>
      </div>
      <div class="stars">
        <div class="star big">
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
        </div>
        <div class="star big">
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
        </div>
        <div class="star medium">
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
        </div>
        <div class="star medium">
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
        </div>
        <div class="star small">
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
        </div>
        <div class="star small">
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
          <div class="star-son"></div>
        </div>
      </div>
    </div>
  </div>

<script  src="{% static 'js/daylight-button.js' %}"></script>

{% endblock %}

