body{
    background-color: rgba(0, 0, 0, 0.1);
}
h1, h2, h3, h4, h5, h6 {
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #6b7770;
		margin: 0 0 0.5em 0;
		line-height: 1.3;
}